/* Estilos generales */
.container {
    width: 800px; /* Ajustar según tus necesidades */
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  #cines-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  } 
  .cine-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    margin: 10px;
    width: 200px; /* Ajusta según necesites */
}

.cine-card img {
    width: 100%; /* Hace que la imagen cubra el ancho del card */
    height: auto;
}

.cine-footer {
    padding: 10px;
    background-color: #f0f0f0;
}
  #contenedor-asientos{
    
    display: flex; /* Enable Flexbox layout for the container */
    flex-direction: row; /* Arrange items in a row */
    
    justify-content: space-between; /* Distribute space between items */
    align-items: flex-start; /* Align items vertically at the top */
  }
  #seleccion-asientos {
    flex-basis: 60%; /* Set width of "seleccion-asientos" to 60% */
    padding: 20px;
  }
  
  aside {
    flex-basis: 40%; /* Set width of aside to 40% */
    padding: 20px;
    border: 2px solid #ccc;
  }

  #imagenPelicula {
    width: 50%; 
    margin-bottom: 20px;
  }
  #horarios-contenedor{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
}

.pelicula-contenedor {
    flex: 1 1 200px; 
    margin: 10px; 
    display: flex;  
    flex-direction: column; 
    align-items: center; 
}

.poster-pelicula{
    width: 100%; 
    height: auto; 
    min-width: 150px; 
    min-height: 225px; 
}
  
  #pagar{
    margin: 20px auto; /* Center the button horizontally */
    display: block; /* Make the button a block element */
    width: 150px; /* Adjust width as needed */
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }

.asiento {
    width: 30px; /* Ancho fijo para todos los asientos */
    height: 30px; /* Altura fija para todos los asientos */
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    flex-grow: 0; 
    flex-basis:30px;
    margin-left: 3px;
    margin-right: 3px;
  }
  #fila-numeros{
    display:flex;
    gap:5px;
    align-items: left;


  }
  .numero-asiento{
    width: 30px; /* Ancho fijo para todos los asientos */
    height: 30px; /* Altura fija para todos los asientos */
    cursor: pointer;
    border-radius: 5px;
    flex-grow: 0; 
    flex-basis:30px;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
    border: 1px solid;
    border-color:transparent;
  }
  
  .fila {
    display: flex;
    align-items: left;
    gap:5px;
  }
  
  /* Estilos para el contenedor principal */
  #sala-cine {
    display: flex; /* Habilitar flexbox para el contenedor principal */
    flex-direction: column; /* Alinear filas verticalmente */
    align-items: left; /* Alinear filas verticalmente en el centro */
    gap: 10px; /* Espacio entre filas */
  }
  .letra-fila {
    width:20px;
    font-size: 18px;
    left: 0px; 
    margin-right: 10px; 
  }
  
  /* Estilos para pasillo (opcional) */
  .asiento-pasillo {
    margin-left: 10px; /* Ajustar margen izquierdo del pasillo */
    margin-right: 10px; /* Ajustar margen derecho del pasillo */
  }
  
  .asiento.disponible {
    background-color: green;

  }
  .asiento.disponible:hover {
    background-color: #c0ffc0; /* Lighter shade of green */
  }
  
  
  .asiento.ocupado {
    background-color: red;
  }
  
  .asiento.reservado {
    background-color: #ff9d00;
    
  }
  .asiento.no-disponible {
    opacity: 0; /* Ocultar visualmente los asientos no disponibles */
    background-color: gray; /* Opcional: mantener el color de fondo */
  }
  
  /* Estilos para la información del asiento */
  #informacion-asiento {
    margin-top: 20px;
  }
  
  






  .header {
    background-color: #A72828; /* Color de fondo del navbar */
    color: white; /* Color del texto */
    display: flex; /* Alineación horizontal de los elementos */
    align-items: center; /* Centrar elementos verticalmente */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 50px;
}

.header img {
    margin-right: 50px; /* Espacio entre el logo y los elementos del menú */
    margin-left: 25px;
}

.header ul {
    list-style: none; /* Remover los bullets de la lista */
    display: flex; /* Alinear los elementos de la lista horizontalmente */
    padding: 0; /* Remover el padding por defecto */
    margin: 0; /* Remover el margen por defecto */
}

.header li {
    margin-right: 20px; /* Espacio entre los elementos del menú */
}

.header a {
    color: white; /* Color de los enlaces */
    text-decoration: none; /* Remover el subrayado de los enlaces */
    font-weight: bold; /* Hacer el texto un poco más grueso */
}

.header a:hover {
    color: #ddd; /* Cambiar el color al pasar el mouse */
}

main{
    display: flex; /* Alineación horizontal de los elementos */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: flex-start; /* Alinea los elementos al inicio verticalmente */
    margin-bottom: 50px; /* Espacio entre el main y el footer */

}

#boletos {
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: flex-start; /* Alinea los elementos al inicio verticalmente */
    background: #bbbbbb; /* Color de fondo del main */
    margin-right: 20px;
    flex-grow: 1;
}

.infoBoletos{
    display: flex;
    justify-content: space-between;
    align-items: center; /

}

.comprarBoletos{
    justify-content: center; /* Centra los elementos horizontalmente */
}

.cantidadBoletos{
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    width: 50px; /* Ancho del input */
}


#foto {
    margin-right: 20px; /* Añade un margen a la derecha para separarlo del main */
    width: 200px; /* Ocupa el 20% de la pantalla, ajusta según necesites */
    flex-shrink: 0; /* Evita que se reduzca */
    justify-content: center; /* Centra los elementos verticalmente */
}

#fotoPelicula{
    border-radius: 10px; /* Redondea las esquinas del borde */
    margin-right: 20px; /* Añade un margen a la derecha para separarlo del main */
    width: 200px; /* Ocupa el 20% de la pantalla, ajusta según necesites */
    flex-shrink: 0; /* Evita que se reduzca */

}

#infoSala{
    margin-right: 10px; /* Añade un margen a la derecha para separarlo del main */
    width: 200px; /* Ocupa el 20% de la pantalla, ajusta según necesites */
    justify-content: center; /* Centra los elementos verticalmente */
    background-color: #A72828;
    border-radius: 1rem;

}