/* Estilos generales */
.container {
    width: 800px; /* Ajustar según tus necesidades */
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  h3 {
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  #cines-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  } 
  .cine-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    margin: 10px;
    width: 400px; /* Ajusta según necesites */
}

.cine-card img {
    width: 100%; /* Hace que la imagen cubra el ancho del card */
    height: auto;
}

.cine-footer {
    padding: 10px;
    background-color: #f0f0f0;
}

.cine-card:hover {
  cursor: pointer;
  opacity: 0.8;
}

.horario-card {
  background-color: #FF7A7A;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 3px;
  width: 175px; /* Ajusta según necesites */
  height: 20px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horario-card:hover {
  cursor: pointer;
  opacity: 0.8;
}


#datos-pelicula{
  background-color: #F1F1F1;
  padding-bottom: 50px;    
  padding-top: 50px;
  display: flex;
}

#seleccion-asientos, #informacion-pelicula {
  width: 50%; /* Asigna a cada elemento hijo el 50% del ancho del contenedor */
  box-sizing: border-box; /* Asegura que padding y border estén incluidos en el ancho especificado */
}

#seleccion-asientos{
  align-items: flex-start; /* Alinea los elementos al inicio (izquierda) */
  justify-content: center; /* Centra los elementos verticalmente */
  padding-left: 150px; /* Añade un padding a la izquierda */
}

#informacion-pelicula{
  display: flex;
  background-color: #a72828d8;
  margin-left: 20px;
  border-radius: 2rem;
}

#info-pelicula{
  margin-left: 10px;
  margin-top: 80px;
  padding: 20px;
  font-size: 2rem;
  color: white;
  flex-direction: column;
  justify-content: center;
}

  #imagenPelicula {
    width: 50%;
    height: auto;
    border-radius: 2rem 0 0 2rem; 

  }
  #horarios-contenedor{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
}

.pelicula-contenedor {
    flex: 0 0 350px; 
    display: flex;  
    flex-direction: column; 
    align-items: center; 
    background-color: #a72828d8;
    border-radius: 2rem;
}

.poster-pelicula{
    width: 100%; 
    height: auto; 
    min-width: 150px; 
    min-height: 225px; 
    border-radius: 2rem 2rem 0 0;
}
  
  #pagar{
    margin: 20px auto; /* Center the button horizontally */
    margin-top: 100px;
    display: block; /* Make the button a block element */
    width: 200px;
    height: 50px;
    background-color: #FF7A7A; /* Color de fondo del botón */ 
    font-size: 20px;
    color: white; /* Color del texto del botón */
    border: none; /* Remueve el borde del botón */
    border-radius: 5px; /* Redondea las esquinas del botón */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */   
  }

  #atras{
    margin: 20px auto; /* Center the button horizontally */
    margin-top: 20px;
    display: block; /* Make the button a block element */
    width: 120px; /* Adjust width as needed */
    padding: 10px;
    height: 50px;
    background-color: #FF7A7A; /* Color de fondo del botón */ 
    font-size: 20px;
    color: white; /* Color del texto del botón */
    border: none; /* Remueve el borde del botón */
    border-radius: 5px; /* Redondea las esquinas del botón */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */   
  }

  #pagar:hover, #atras:hover {
    opacity: 0.8;
  }   

.asiento {
    width: 30px; /* Ancho fijo para todos los asientos */
    height: 30px; /* Altura fija para todos los asientos */
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    flex-grow: 0; 
    flex-basis:30px;
    margin-left: 3px;
    margin-right: 3px;
  }
  #fila-numeros{
    display:flex;
    gap:5px;
    align-items: left;


  }
  .numero-asiento{
    width: 30px; /* Ancho fijo para todos los asientos */
    height: 30px; /* Altura fija para todos los asientos */
    cursor: pointer;
    border-radius: 5px;
    flex-grow: 0; 
    flex-basis:30px;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
    border: 1px solid;
    border-color:transparent;
  }
  
  .fila {
    display: flex;

    gap:5px;
  }
  
  /* Estilos para el contenedor principal */
  #sala-cine {
    display: flex; /* Habilitar flexbox para el contenedor principal */
    flex-direction: column; /* Alinear filas verticalmente */
    gap: 10px; /* Espacio entre filas */
    width: 100%; /* Ajustar según necesidades */
  }
  
  .letra-fila {
    width:20px;
    font-size: 18px;
    left: 0px; 
    margin-right: 10px; 
  }
  
  /* Estilos para pasillo (opcional) */
  .asiento-pasillo {
    margin-left: 10px; /* Ajustar margen izquierdo del pasillo */
    margin-right: 10px; /* Ajustar margen derecho del pasillo */
  }
  
  .asiento.disponible {
    background-color: green;

  }
  .asiento.disponible:hover {
    background-color: #c0ffc0; /* Lighter shade of green */
  }
  
  
  .asiento.ocupado {
    background-color: red;
  }
  .asiento.reservado3ro {
    background-color: #0667b6;
    
  }
  
  .asiento.reservado {
    background-color: #ff9d00;
    
  }
  .asiento.no-disponible {
    opacity: 0; /* Ocultar visualmente los asientos no disponibles */
    background-color: gray; /* Opcional: mantener el color de fondo */
  }
  
  /* Estilos para la información del asiento */
  #informacion-asiento {
    margin-top: 20px;
  }
  
  main#seleccionar-cine {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  #cines-contenedor {
    margin-top: 20px; /* Ajusta este valor según sea necesario */
  }


  body {
    margin: 0; /* Elimina los márgenes por defecto */
    font-family: Arial, Helvetica, sans-serif; /* Agrega la fuente para todos los textos */
}

header {
    background-color: #a72828d8; /* Color de fondo del navbar */
    color: white; /* Color del texto */
    display: flex; /* Alineación horizontal de los elementos */
    align-items: center; /* Centrar elementos verticalmente */
    padding: 10px; /* Espaciado interno */
    border-radius:  0 0 2rem 2rem;
}

.header img {
    margin-right: 50px; /* Espacio entre el logo y los elementos del menú */
    margin-left: 25px;
}

.header ul {
    list-style: none; /* Remover los bullets de la lista */
    display: flex; /* Alinear los elementos de la lista horizontalmente */
    padding: 0; /* Remover el padding por defecto */
    margin: 0; /* Remover el margen por defecto */
}

.header li {
    margin-right: 50px; /* Espacio entre los elementos del menú */
}

.header a {
    color: white; /* Color de los enlaces */
    text-decoration: none; /* Remover el subrayado de los enlaces */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.header a:hover {
    color: #ddd; /* Cambiar el color al pasar el mouse */
}

#logo:hover {
    cursor: pointer; /* Cambiar el cursor al pasar sobre el logo */
}

home:hover {
    cursor: pointer; /* Cambiar el cursor al pasar sobre el logo */
}

